{% extends "base.html" %} {% block title %} Add Absence {% endblock %}
{% block link %} <link href="../static/absence.css" rel="stylesheet" type="text/css"> {% endblock %}
{% block content %}



<div id="formdiv">
<form action="http://localhost:8000/addabsence/" method="POST">
  {% csrf_token %} {{ form.as_p }}

       <button type="button" onclick="myFunction()" style="background-color: mediumpurple; border-radius: 30%;">>Find</button>
     <div>
           {% if emp %}
                 <p name="par"> Employee is: {{ emp.name }}.with {{ emp.absences_days }} absences.</p>
         {%elif msg != none %}
                 <p name="par"> {{ msg }}</p>
               {% else%}
               <p name="par"></p>
           {% endif %}

  <button id="btn" class="button" type="submit">Add absence
   <div class="button__horizontal"></div>
        <div class="button__vertical"></div></button>

    <a id="goback" href="/"><button id="btn" class="button" type="button">Menu
   <div class="button__horizontal"></div>
        <div class="button__vertical"></div></button></a>
</form>
</div>


 
{%if notFound %}

<div class="alert" style="background-color: red;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Failed!</strong> Employee does not exist.
</div>

{% endif %}



   <script>

    {% if idvalue %}
             document.getElementsByName("emp_id")[0].value=parseInt({{ idvalue }});
        {% endif %}


    function myFunction() {
        var x=document.getElementsByName("emp_id")[0].value;

        if (x){
            x=parseInt(x);
        window.location.href = "http://localhost:8000/findempabs/"+x;
        }

        else{window.alert("please fill value");}
    }


</script>


{% endblock %}
