{% extends "base.html" %} {% block title %} Add Absence {% endblock %}
{% block link %} <link href="../static/absence.css" rel="stylesheet" type="text/css"> {% endblock %}
{% block content %}



<div id="formdiv">
<form action="." method="POST">
  {% csrf_token %} {{ form.as_p }}

  <button id="btn" class="button" type="submit">Add absence 
   <div class="button__horizontal"></div>
        <div class="button__vertical"></div></button>

    <a id="goback" href="/"><button id="btn" class="button" type="button">Menu
   <div class="button__horizontal"></div>
        <div class="button__vertical"></div></button></a>
</form>
</div>

 
{%if notFound %}

<div class="alert" style="background-color: red;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Failed!</strong> Employee does not exist.
</div>

{% endif %}

{% endblock %}
