{% extends "base.html" %} {% block title %} Delete Employee {% endblock %}
{% block link %} <link href="../static/delete.css" rel="stylesheet" type="text/css"> {% endblock %}
{% block content %}

<a id="goback" href="/">
    <button class="button" type="button">Menu
        <div class="button__horizontal"></div>
        <div class="button__vertical"></div>
    </button>
</a>

<div>
    <form action="http://localhost:8000/delete/" method="POST">
        {% csrf_token %} {{ form.as_p }}

         <button type="button" onclick="myFunction()" style="background-color: mediumpurple; border-radius: 30%;">>Find</button>
     
        

           {% if emp %}
                 <p name="par"> Employee is: {{ emp.name }}. Currently in department: {{ emp.department }} with {{ emp.absences_days }} absences and {{ emp.overtime_days }} days overtime</p>
         {%elif msg != none %}
                 <p name="par"> {{ msg}}</p>
	{% else %}
	
               <p name="par"></p>
           {% endif %}

        <button id="submit" class="button" type="submit">Fire Employee
            <div class="button__horizontal"></div>
            <div class="button__vertical"></div>
        </button>

	<div>
	{% if Flag %}
	<div class="alert" style="background-color: red;">
     	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
     	<strong>Employee Not Found!</strong>
	{% endif %}
	</div>
    </form>
</div>





      <script>

    {% if idvalue %}
             document.getElementsByName("emp_id")[0].value=parseInt({{ idvalue }});
        {% endif %}


    function myFunction() {
        var x=document.getElementsByName("emp_id")[0].value;

        if (x){
            x=parseInt(x);
        window.location.href = "http://localhost:8000/findempdel/"+x;
        }

        else{window.alert("please fill value");}
    }


</script>


{% endblock %}