{% extends "base.html" %} {% block title %} Delete Employee {% endblock %}
{% block link %} <link href="../static/delete.css" rel="stylesheet" type="text/css"> {% endblock %}
{% block content %}

<a id="goback" href="/">
    <button class="button" type="button">Menu
        <div class="button__horizontal"></div>
        <div class="button__vertical"></div>
    </button>
</a>

<div>
    <form action="." method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button id="submit" class="button" type="submit">Fire Employee
            <div class="button__horizontal"></div>
            <div class="button__vertical"></div>
        </button>
    </form>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        <h1 id="errmsg">{{ message }}</h1>
        <img src="../static/img/sad.jpg"/>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}