{% extends "base.html" %}
{% block title %} Logout {% endblock %}
 {% block link %} <link href="../static/logout.css" rel="stylesheet">{% endblock %}

{% block content %}

    <h1>See you soon!</h1>

    <a href="{% url 'login' %}">

 <button id="submit" class="button" type="button">
     Back to Login Page
            <div class="button__horizontal"></div>
            <div class="button__vertical"></div>
        </button>
    </a>


    {% include "navbar.html" %}
{% endblock %}