{% extends "base.html" %} {% block title %} Update Department {% endblock %}
{% block link %} <link rel="stylesheet" href="../static/update_department.css" type="text/css"/>{% endblock %}
{% block content %}

<a id="goback" href="/">
    <button class="button" type="button">Menu
        <div class="button__horizontal"></div>
        <div class="button__vertical"></div>
    </button>
</a>

<div>
    <form action="http://localhost:8000/updatedepartment/" method="POST">
        {% csrf_token %} {{ form.as_p }}



        <div>
           {% if emp %}
                 <p name="par"> Employee is: {{ emp.name }}. Currently in department: {{ emp.department }} </p>
         {%elif msg != none %}
                 <p name="par"> {{ msg}}</p>
               {% else%}
               <p name="par"></p>
           {% endif %}

          <button type="button" onclick="myFunction()" style="background-color: mediumpurple; border-radius: 30%;">>Find</button>
       </div>
        <button id="submit" class="button" type="submit">Update Department
            <div class="button__horizontal"></div>
            <div class="button__vertical"></div>
        </button>
    </form>


</div>


    <script>

    {% if idvalue %}
             document.getElementsByName("emp_id")[0].value=parseInt({{ idvalue }});
        {% endif %}


    function myFunction() {
        var x=document.getElementsByName("emp_id")[0].value;

        if (x){
            x=parseInt(x);
        window.location.href = "http://localhost:8000/findempupd/"+x;
        }

        else{window.alert("please fill value");}
    }


</script>



{% endblock %}
